@model ST10296167_PROG6212_POE.Models.Documents;

<head>
    <style>
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        p {
            margin-bottom: 5px;
            font-family: 'Arial Rounded MT',sans-serif;
        }

        input {
            margin-top: 5px;
            margin-bottom: 20px;
        }

        button {
            margin-top: 15px;
            width: 200px;
            font-size: 20px;
            border-radius: 5px;
            padding: 5px 10px;
            background-color:skyblue;
        }

        .IDLink {
            border-radius: 10px;
        }

        .inputBorder {
            display: inline-block;
            padding: 25px;
            border: 2px solid darkgray;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 400px;
        }

        .inputBorder input.IDLink {
            width: calc(100% - 100px);
            padding: 10px;
        }

        input[type="file"] {
            padding: 10px;
            font-size: 18px; 
            width: 250px; 
            height: 50px; 
            border-radius: 10px; 
            border: 2px solid black; 
        }

        .text-danger {
            display: block;
            padding-bottom:10px;
        }
    </style>
</head>

<body>
    <h1>Upload Supporting Documents</h1>
    <h2>Please upload any documents to support your claim</h2>
    @if (TempData["Success"] != null)
    {
        <div id="alert" class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div id="alert" class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <div class="inputBorder">
        <form asp-action="UploadDocs" method="post" enctype="multipart/form-data">
            <p>Link to Claim ID:</p>
            <input asp-for="ClaimID" class="IDLink" required/>
            <span asp-validation-for="ClaimID" class="text-danger"></span>

            <p>Select Document Files:</p>
            <input type="file" name="File" accept=".pdf, .docx, .xlsx, .txt" />
            <span asp-validation-for="FileData" class="text-danger"></span>

            <button type="submit"><strong>Submit Files</strong></button>
        </form>
    </div>
</body>