<head>
    <style>
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        button {
            border-radius: 5px;
            font-size: 20px;
            width: 100px;
            background-color: skyblue;
        }

        p {
            font-size: 20px;
        }
    </style>

</head>

<body>
    <h1>Claim {ID}</h1>

    <p><strong>Claim Month: </strong>January (example)</p>
    <p><strong>Hourly Rate: </strong>R100 (example)</p>
    <p><strong>Hours Worked: </strong>100 (example)</p>
    <p><strong>Claim Amount: </strong>R10000 (example)</p>
    <p><strong>Description:</strong></p>
    <p>Example description about claim</p>
    <p><strong>Supporting Documentation:</strong></p>
    <p>Links to any supporting docs</p>
    <button>Return</button>
</body>