<style>
    body{
        text-align:center;
    }

</style>

<h1>Login</h1>
<body>
    <form action="LoginUser" method="post">
        <p>Account Number:</p>
        <input type="text" name="AccountNumber" placeholder="" required />
        <p>Password:</p>
        <input type="text" name="Password" placeholder="" required />
        <p></p>
        <button type="submit" >Login</button>
    </form>
</body>