<style>
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    body {
        text-align: center;
    }

    p {
        margin-bottom: 5px;
    }

    input {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    button{
        margin-top: 10px;
        font-size: 20px;
        width: 200px;
    }
</style>

<h1>Login</h1>
<body>
    <form action="LoginUser" method="post">
        <p>Account Number:</p>
        <input type="text" name="AccountNumber" placeholder="" required />
        <p>Password:</p>
        <input type="text" name="Password" placeholder="" required />
        <p></p>
        <button type="submit" >Login</button>
    </form>
</body>