<head>
    <style>
        h1 {
            font-size: 50px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: aquamarine;
            font-weight: bold;
        }

        tr {
            background-color: white;
        }
    </style>
</head>

<h1>Current Claims</h1>
<body>
    <table>
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Claim Month</th>
                <th>Claim Amount</th>
                <th>Claim Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>January</td>
                <td>R10000.00</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>002</td>
                <td>February</td>
                <td>R12000.00</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>003</td>
                <td>March</td>
                <td>R13500.00</td>
                <td>Rejected</td>
            </tr>
            <tr>
                <td>004</td>
                <td>April</td>
                <td>R16000.00</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>
</body>