@{
    ViewData["Title"] = "Home Page";
    var accountType = Context.Session.GetString("AccountType");
    var accountID = Context.Session.GetInt32("AccountID");
}

<head>
    <style>
        h1 {
            font-size: 50px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        h2 {
            font-size: 20px;
            margin-top: 20px;
            font-family: 'Trebuchet MS',sans-serif;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        p{
            font-family: 'Arial Rounded MT',sans-serif;
        }

        ul {
            list-style-position: inside;
            padding-left: 0;
            display: inline-block;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Home</h1>
    @if(@accountType.Equals("Lecturer"))
    {
        <h2>Welcome Lecturer: @accountID</h2>
        <br />
        <p>Feel free to use any of the following functionality:</p>
        <ul>
            <li><a href="/Claim/SubmitClaim">Submit a Claim</a></li>
            <li><a href="/Document/UploadDocuments">Upload Supporting Documents for a Claim</a></li>
            <li><a href="/Claim/ViewClaims">Track Claim Status</a></li>
        </ul>
    }
    else
    {
        <h2>Welcome @accountType: @accountID</h2>
        <br />
        <p>Feel free to use any of the following functionality:</p>
        <ul>
            <li><a href="/Claim/VerifyClaims">Verify Lecturer Claims</a></li>
        </ul>
    }
</body>