@model List<ST10296167_PROG6212_POE.Models.Claims>

<head>
    <style>
        h1 {
            font-size: 50px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid grey;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: aquamarine;
            font-weight: bold;
        }

        tr {
            background-color: white;
        }
    </style>
</head>

<h1>Current Claims</h1>
<body>
    <table>
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Claim Month</th>
                <th>Claim Amount</th>
                <th>View</th>
                <th>Claim Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var claim in Model)
            {
                <tr>
                    <td>@claim.ClaimID</td>
                    <td>@claim.ClaimMonth</td>
                    <td>R @claim.ClaimAmount.ToString("F2")</td>
                    <td><a href="/Claim/FullClaimView/@claim.ClaimID">View Claim</a></td>
                    <td>
                        @{
                            string firstLetter = claim.Status.Substring(0, 1).ToLower();
                            string statusColour = "black"; 

                            switch (firstLetter)
                            {
                                case "p":
                                    statusColour = "orange"; 
                                    break;
                                case "r":
                                    statusColour = "red"; 
                                    break;
                                case "a":
                                    statusColour = "limegreen"; 
                                    break;
                            }
                        }
                        <span style="color:@statusColour">@claim.Status</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>