@model List<ST10296167_PROG6212_POE.Models.Claims>

<head>
    <style>
        h1 {
            font-size: 50px;
            font-family: 'Eras ITC',sans-serif;
            color: deeppink;
        }

        body {
            text-align: center;
            background-color: blanchedalmond;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid grey;
        }

        th, td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: aquamarine;
            font-weight: bold;
        }

        tr {
            background-color: white;
        }
    </style>
</head>

<h1>Current Claims</h1>
<body>
    <table>
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Claim Month</th>
                <th>Claim Amount</th>
                <th>Claim Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var claim in Model)
            {
                <tr>
                    <td>@claim.ClaimID</td>
                    <td>@claim.ClaimMonth</td>
                    <td>R @claim.ClaimAmount.ToString("F2")</td>
                    <td>@claim.Status</td>
                </tr>
            }
        </tbody>
    </table>
</body>